:root {
    --primary-blue: #334D6E;
    --black: #333333;
    --grey: #90A0B7;
    --dark-blue: #192A3E;
    --blue: #1B1464;
    --purple: #3429AA;
    --green: #39CDCD;
    --white: #f8f8f8;
}

* {
    font-family: 'Poppins', sans-serif;
    /* color: var(--black); */
}

body {}

header {}

ul {
    list-style-type: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


/* Utilities */

.blue-text {
    color: #1B1464
}

.fw-500 {
    font-weight: 500
}

.fw-600 {
    font-weight: 600
}

.fw-700 {
    font-weight: 700
}


.card-shadow {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    background: #fff;
}

.card-radius {
    border-radius: 5px;
}

.grey-text {
    color: var(--grey)
}

.green-text {
    color: #13E07B;
}


/* navbar */

.navbar {}

.navbar .navbar-brand {
    padding-top: 0;
    /* border-bottom: 1px solid #000 */
}

/* Sidebar */

.navbar .sidebar {
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    height: 100vh;
    max-width: 19%;
}

.sidebar .profile {
    margin-top: 1rem;
}

.sidebar .nav-item .active-link {
    color: #109CF1
}

.sidebar .icon {
    margin-right: 0.5rem;
    display: inline-block;
    width: 10%
}

.sidebar .icon svg {
    position: relative;
    top: 0.25rem;
}

.sidebar .icon .setting-icons {
    top: -0.25rem
}

.sidebar .nav-item .nav-link {
    color: var(--primary-blue);
    font-weight: 500;
    display: flex;
}

.profile .email {
    font-size: 0.8rem;
}

.profile .admin-info {
    margin-top: 0.2rem;
}

.admin-info .name {
    color: var(--dark-blue);
}

/* Top navbar */

.navbar .top-navbar {
    /* max-width: 80%; */
}


/* Custom card */

.custom-card {
    width: 95%;
    height: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: linear-gradient(to right, #334D6E, #39CDCD);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    padding: 5px 10px;
    color: var(--white)
}

.purple-bg {
    background: linear-gradient(to right, #3429AA, #312e58);
}

.custom-card h5 {
    margin-top: 15%;
}


/* Tables */

.table {
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    font-size: 0.8rem;
}

.table th {
    color: #54617A;
    font-weight: 500;
}

.responsive-table {
    /* display: block; */
    width: 96%;
    overflow-x: auto;
}

.table .grey-bg {
    background: #F9FAFC;
}

.table tbody {
    background: #fff
}

/* Auth Pages*/

.main-image {
    width: 80%;
}

.main-heading {
    color: #1B1464;
}


.auth-form {
    width: 70%;
    /* margin: auto; */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 30px 15px 20px;
}

.auth-form form {
    width: 90%;
    margin-top: 5%;
}

.auth-form .form-group label {
    font-size: 0.8rem
}

.auth-form .form-group .form-control {
    /* width: 80%; */
    padding: 10px 5px;
}



/* Buttons */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: var(--primary-blue);
    border: 0;
    outline: 0
}

.tertiary-btn {
    background: none;
    border: 0;
    color: var(--primary);
}


main {
    position: relative;
}

.main-card {
    box-sizing: border-box;
}

.main-card .card-items {}

.pattern {
    background: url('../micro-moni-pattern.svg')
}

.card-items .card-item {
    padding: 5px 10px;
    text-align: center;
    margin: .5rem;
    width: 100%;
}

.card-item span:nth-child(1) {
    font-size: .8rem;
    color: #54617A;
}

.card-item strong {
    color: #13E07B;
}

.card-items .card-item:not(:last-child) {
    border-right: 1px solid rgb(95, 94, 94);
}


/*  */

section.profile {
    padding: 15px;
}

section.profile .profile--image {
    background: #a8a8a8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section.profile h5 {
    color: var(--blue);
}

.profile-info {
    margin-top: 3%;
}

.profile-info>.info {
    margin: 3% auto;
}

.profile-info .info span:nth-child(2) {
    color: #54617A
}

.main-action {
    width: 40%;
    margin: auto;
}

.main-action .main-button {
    background: var(--blue);
    color: #fff;
    border-radius: 50px;
}

/* Big Nav */

.big-nav .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #c5c1c1;
}


/* Utilities */

.pointer {
    cursor: pointer
}

.white-bg {
    background: #fff;
}

.border-radius-5 {
    border-radius: 5px;
}

.margin-top-2 {
    margin-top: 2%;
}

.align-center {
    align-items: center;
}

/* News */
.news {
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.news .news-card {
    padding-top: 5px;
}

/*  */

/* large device */
@media screen and (min-width: 768px) {
    .w-80 {
        max-width: 80%;
    }

    .blue-bg {
        width: 100%;
        height: 70px;
        background: #1B1464;
        position: absolute;
        top: 0;
    }

    .no-padding {
        padding-right: 0;
        padding-left: 0;
    }
}


@media screen and (max-width: 768px) {
    .small-nav {
        width: 100%;
        /* height: 30px; */
        background: #1B1464;
        font-size: 1.3rem;
        padding: 7px 5px 25px;
        color: var(--white);
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .small-nav nav {
        display: flex
    }

    .small-nav nav .logo {
        margin: auto
    }

    .small {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        background: rgba(0, 0, 0, 0.438);
    }

    .small__sidebar {
        width: 80%;
        height: 100vh;
        padding: 5px;
        background: #fff;
        position: relative;
    }

    .small__sidebar .cancel__icon {
        position: absolute;
        right: 2%;
        top: 1%;
        font-size: 1.8rem;
        color: var(--primary-blue)
    }


    .profile {}

    .profile .profile--image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: rgb(187, 185, 185);
    }

    .small__sidebar .nav-links {
        margin-top: 5%;
        padding-inline-start: 0;
        font-size: 1.2rem;
    }

    .nav-links .nav-link {
        padding: .8rem 1rem;
    }

    .active {
        color: var(--primary)
    }

    /* auth */
    .main-image {
        width: 100%;
    }

    .auth-form {
        width: 100%;
        margin-top: 3%;
    }

    .auth-form form {
        width: 100%;
    }

    /* Profile */

    .main-action {
        width: 100%;
        margin: auto;
    }

    /* Main card */

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 10px;

    }

    .main-card {
        width: 95%;
        height: 70px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 8px rgba(17, 17, 17, 0.288);
        box-sizing: border-box;
        padding-top: 10px;
    }

    .main-card:nth-child(odd) {
        margin-left: auto;
    }

    .news {
        margin-top: 4%;
    }
}